body{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    background-color:gray ;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    width: 340px;
    border-radius: 20px;
    background-color: hotpink;
    height: 500px;
    
}
.btn{
    height: 50px;
    width: 50px;
    background-color: gold;
    font-size: 30px;
    border-radius: 30px;
}
.input-box{
    height: 30px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
}